{% extends "lifeflow/lifeflow_base.html" %}

{% block title %} {{ object.title }} @ {{ lifeflow_blog_name }} {% endblock %}

{%block body %}
<div class="pagination pagination-top">
{% if page.has_previous %}
<span class="left"><a href="?page={{ page.previous_page_number }}">Newer Entries</a></span>
{% endif %}

{% if page.has_next %}
<span class="right"><a href="?page={{ page.next_page_number }}">Older Entries</a></span>
{% endif %}
</div>


{% with page.object_list.all as article_list %}
{% include "lifeflow/show_articles_list.html" %}
{% endwith %}

<div class="pagination pagination-bottom">
{% if page.has_previous %}
<span class="left"><a href="?page={{ page.previous_page_number }}">Newer Entries</a></span>
{% endif %}

{% if page.has_next %}
<span class="right"><a href="?page={{ page.next_page_number }}">Older Entries</a></span>
{% endif %}
</div>

{% endblock %}