{% extends "lifeflow/editor/base.html" %}

{% block body %}
<script>
$(document).ready(function() {$("#resources").change(function() {
  var res = $("#resources");
  var index = res[0].selectedIndex;
  var pk = res[0][index].value;
  $("#resource").load('/editor/display_resource/' + pk + '/').show();
  $("#add-resource").hide();
})});

$(document).ready(function() {$("#add-file-button").click(function() {
  $("#resource").hide();
  $("#add-resource").show();
})});

$(document).ready(function() {$("#resource-delete").click(function() {
  var lst = $("#resources");
  var index = lst[0].selectedIndex;
  if (index == -1) { display_error("Please select a resource to delete."); }
  var chosen = lst.children()[index];
  var pk = chosen.value;
  $.ajax({url:"/editor/delete_model/", type:"post", data:{model:"resource", pk:pk}, complete:function(res, status) {
    if (status == "success") {
      chosen.parentNode.removeChild(chosen);
      lst[0].selectedIndex = -1;
      $("#resource").hide();
    }
    else { display_error(res.responseText); }
}})})});

var file_selected = function() {
  var val = $("#file_select")[0].value;
  if (val == "") {
    display_error("Please select a file to upload.");
    return false;
  }
  else return true;
}
</script>

<div class="files">
<div class="selections">
  <a class="button positive" id="add-file-button"> Add File </a>
  <a class="button negative" id="resource-delete"> Delete File </a>
  <select id="resources" size="20">
    {% for resource in resources %}
    <option value="{{ resource.pk }}"> {{ resource.title }}</option>
      {% endfor %}
  </select>
</div>
<div class="resource" id="resource"></div>
<div class="add" id="add-resource" style="display: none;">
  <form action="/editor/add_resource/" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td> Title: </td>
      <td><input name="title" ></td>
    </tr>
    <tr>
      <td> Markdown ID: </td>
      <td><input name="markdown_id" ></td>
    </tr>
    <tr>
      <td> File </td>
	  <td><input id="file_select" type="file" name="file" ></td>
	</tr>
	<tr>
	  <td></td>
	  <input type="hidden" name="pk" value="{{ object.pk }}">
	  <input type="hidden" name="model" value="{{ model }}">
	  <td><input type="submit" onclick="return file_selected();" value="Upload"></td>
	</tr>
      </table>
      </form>
    </div>
    </div>
    
{% endblock %}