{% extends "lifeflow/editor/base.html" %}

{% block body %}

<script>
$(document).ready(function() {
  $("a.selectable").click(function () {
    $(this).toggleClass("selected");
  });
  $("#select-list").hover(
  function() {},
  function() {
    var selected = $.map($("a.selected"),function(x) { return x.id; });
    if (selected.length == 0) selected.push(-1);
    var data = {"flows":selected};
    update_model("{{model}}",{{object.pk}},data);
  });
});
</script>


<div class="breadcrumbs">
  <span><a href="../title/">Title & Summary</a> </span>
  <span> <a href="../body/">Body & Files</a> </span>
  <span class="selected">Flows </span>
  <span> <a href="../tags/">Tags</a> </span>
  <span> <a href="../series/">Series</a> </span>
  <span> <a href="../options/">Date & Options</a> </span>
  <span> <a href="../authors/">Authors & Translations</a> </span>
</div>

<div class="editing">
  <ul>
    <li id="select-list">
    <p> Click on the flows you want to include this article in. </p>
    <div id="selectables" class="selectables">
      {% for flow, selected in flows %}
      <a class="selectable {% if selected %} selected{% endif %}" id="{{ flow.pk }}"> {{ flow.title }}</a>
      {% endfor %}
    </div>
    </li>
    <li>

    <form method="post" action="/editor/create_model/">
      <table>
	<tr><td><p> Create a new flow. </p></td></tr>
	<tr><td>Title: </td><td><input name="title"></td></tr>
	<input type="hidden" value="flow" name="model">
    	<tr><td></td><td><button type="submit" class="button positive"> Create </button></td></tr>
      </table>
      </form>
    </li>
  </ul>
</div>

{% endblock %}