{% extends "lifeflow/editor/base.html" %}

{% block body %}

<div class="breadcrumbs">
  <span><a href="../title/">Title & Summary</a> </span>
  <span> <a href="../body/">Body & Files</a> </span>
  <span> <a href="../flows/">Flows</a> </span>
  <span> <a href="../tags/">Tags</a> </span>
  <span class="selected"> Series </span>
  <span> <a href="../options/">Date & Options</a> </span>
  <span> <a href="../authors/">Authors & Translations</a> </span>
</div>

<script>
$(document).ready(function() {
  $("a.selectable").click(function () {
    $(this).toggleClass("selected");
  });
  $("#select-list").hover(
    function() {},
    function() {
      var selected = $.map($("a.selected"),function(x) { return x.id; });
      if (selected.length == 0) selected.push(-1);
      var data = {"series":selected};
      update_model("{{model}}",{{object.pk}},data);
  });
});

var capitalize_title = function () {
  var txt = titleCaps($("#title").val());
  $("#title").val(titleCaps($("#title").val()));
}

var delete_series = function(pk) {
  delete_model("series",pk);
  var id = "#series_" + pk;
  $(id).fadeOut('slow');
  $("#select_" + pk).fadeOut('slow');
}
</script>

<div class="editing">
  <ul>
    <li id="select-list">
    <p> Click on the series that this article should appear in. </p>
    <div id="selectables" class="selectables">
      {% for serie, selected in series %}
      <a id="select_{{ serie.pk }}" class="selectable {% if selected %} selected{% endif %}" id="{{ serie.pk }}"> {{ serie.title }}</a>
      {% endfor %}
    </div>
    </li>
    <li>
      <form method="post" action="/editor/create_model/">
        <table>
	  <tr><td><p> Create a new series. </p></td></tr>
	  <tr><td>Title: </td><td><input id="title" name="title"> <a class="titlecase" onclick="capitalize_title();"> titlecase it</a></td></tr>
	  <input type="hidden" value="series" name="model">
    	  <tr><td></td><td><button type="submit" class="button positive"> Create </a></td></tr>
        </table>
      </form>
    </li>
    <li>
    <p> Delete unwanted series. </p>
    {% for serie, selected in series %}
    <a id="series_{{ serie.pk}}" class="button negative" onclick="delete_series({{ serie.pk }});"> Delete "{{ serie }}"</a>
    {% endfor %}

    </li>
    
  </ul>
</div>
{% endblock %}