
<script>
$(document).ready(function() {
  $("#author-details").hover(
    function(){},
    function(){
      var data = {name:$("#author-name").val(),
                  slug:$("#author-slug").val(),
                  bio:$("#author-bio").val()};
      update_model("author", {{ author.pk }}, data);
})});
</script>

<div class="author-picture">
  <img src="{{ author.get_picture_url }}" alt="An picture of {{ author.name }}" >
  <form action="/editor/add_author_picture/" method="post" enctype="multipart/form-data">
  <input type="file" name="file" >
  <input type="hidden" name="pk" value="{{ author.pk }}">
  <input type="hidden" name="model" value="author">
  <br>
  <input type="submit" value="Change Picture">
  </form>
  
</div>
<div id="author-details" class="author-details">
  <ul> 
    <li>
    <table>
      <tr>
	<td>Name</td><td> <input id="author-name" value="{{ author.name }}"></td>
      </tr>
      <tr>
	<td>Slug</td><td> <input id="author-slug" value="{{ author.slug }}"></td>
      </tr>
    </table>
	
    <li>
    <p> A brief biography, written in Markdown. </p>
    <textarea id="author-bio">{{ author.bio }}</textarea>
  </li>
  
</ul>
</div>