{% extends "lifeflow/editor/base.html" %}

{% block body %}
<script>
var delete_comment = function(pk) {
  delete_model("comment",pk);
  var id = "#comment_" + pk;
  $(id).fadeOut('slow');
}
</script>

<div class="editing comments">
  <div class="pagination">
    {% if page.has_previous %}
    <span class="left"><a href="?page={{ page.previous_page_number }}">Newer Comments</a></span>
    {% endif %}
    {% if page.has_next %}
    <span class="right"><a href="?page={{ page.next_page_number }}">Older Comments</a></span>
    {% endif %}
  </div>
  
  <ul>
    {% for comment in page.object_list.all %}
    <li id="comment_{{ comment.pk }}">
    <div class="data">
      <p> {{ comment.name }} ({{ comment.email }}) at {{ comment.date }} on {{ comment.entry }}. </p>
      <p>{{ comment.html|safe }}</p>
    </div>
    <div class="controls">
      <a class="button negative" onclick="delete_comment({{ comment.pk }})">delete</a>
    </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if page.has_previous %}
    <span class="left"><a href="?page={{ page.previous_page_number }}">Newer Comments</a></span>
    {% endif %}
    {% if page.has_next %}
    <span class="right"><a href="?page={{ page.next_page_number }}">Older Comments</a></span>
    {% endif %}
  </div>
</div>
{% endblock %}