{% extends "lifeflow/editor/base.html" %}

{% block body %}
<script>
var delete_comment = function(pk) {
  delete_model("comment",pk);
  var id = "#comment_" + pk;
  $(id).fadeOut('slow');
}
</script>

<div class="editing comments">
<ul>
{% for comment in comments %}
  <li id="comment_{{ comment.pk }}">
  <div class="data">
  <p> {{ comment.name }} ({{ comment.email }}) at {{ comment.date }} on {{ comment.entry }}. </p>
  <p>{{ comment.html }}</p>
  </div>
  <div class="controls">
    <a class="button negative" onclick="delete_comment({{ comment.pk }})">delete</a>
  </div>
  </li>
{% endfor %}
</ul>
</div>
{% endblock %}