{% extends "lifeflow/editor/base.html" %}

{% block body %}

<div class="breadcrumbs">
  <span > <a href="../1/">Title & Summary</a> </span>
  <span class="selected"> Body & Files </span>
  <span> <a href="../3/">Flows</a> </span>
  <span> <a href="../4/">Tags</a> </span>
  <span> <a href="../5/">Series</a> </span>
  <span> <a href="../6/">Date & Options</a> </span>
  <span> <a href="../7/">Authors & Translations</a> </span>
</div>

{% include "lifeflow/editor/body_editor_widget.html" %}

{% endblock %}