{% extends "lifeflow/editor/base.html" %}

{% block body %}

<div class="breadcrumbs">
  <span> <a href="../1/">Title & Summary</a> </span>
  <span> <a href="../2">Body & Files</a> </span>
  <span>  <a href="../3/">Flows</a> </span>
  <span class="selected">Tags </span>
  <span> <a href="../5/">Series</a> </span>
  <span> <a href="../6/">Date & Options</a> </span>
  <span> <a href="../7/">Authors & Translations</a> </span>
</div>

<script>
$(document).ready(function() {
  $("a.selectable").click(function () {
    $(this).toggleClass("selected");
  });
  $("#select-list").hover(
    function() {},
    function() {
      var selected = $.map($("a.selected"),function(x) { return x.id; });
      if (selected.length == 0) selected.push(-1);
      var data = { "tags":selected };
      update_model("{{model}}",{{ object.pk }}, data);
  });
});
</script>

<div class="editing">
  <ul>
    <li id="select-list">
    <p> Click on the tags to associate with this article. </p>

    <div id="selectables" class="selectables">
      {% for tag, selected in tags %}
      <a class="selectable {% if selected %} selected{% endif %}" id="{{ tag.pk }}"> {{ tag.title }}</a>
      {% endfor %}
    </div>
    </li>
    <li>
    <form method="post" action="/editor/create_model/">
      <table>
	<tr><td><p> Create a new tag. </p></td></tr>
	<tr><td>Title: </td><td><input name="title"></td></tr>
	<input type="hidden" value="tag" name="model">
    	<tr><td></td><td><button type="submit" class="button positive"> Create </button></td></tr>
      </table>
      </form>
    </li>
  </ul>
</div>

{% endblock %}