{% extends "lifeflow/editor/base.html" %}

{% block body %}
<div class="breadcrumbs">
  <span> <a href="../1/">Title & Summary</a> </span>
  <span> <a href="../2">Body & Files</a> </span>
  <span>  <a href="../3/">Flows</a> </span>
  <span> <a href="../4/">Tags</a> </span>
  <span class="selected"> Series </span>
  <span> <a href="../6/">Date & Options</a> </span>
  <span> <a href="../7/">Authors & Translations</a> </span>
</div>

<script>
$(document).ready(function() {
  $("a.selectable").click(function () {
    $(this).toggleClass("selected");
  });
  $("#select-list").hover(
    function() {},
    function() {
      var selected = $.map($("a.selected"),function(x) { return x.id; });
      var data = {"series":selected};
      update_model("{{model}}",{{object.pk}},data);
  });
});

var capitalize_title = function () {
  var txt = titleCaps($("#title").val());
  $("#title").val(titleCaps($("#title").val()));
}
</script>

<div class="editing">
  <ul>
    <li id="select-list">
    <p> Click on the series that this article should appear in. </p>
    <div id="selectables" class="selectables">
      {% for serie, selected in series %}
      <a class="selectable {% if selected %} selected{% endif %}" id="{{ serie.pk }}"> {{ serie.title }}</a>
      {% endfor %}
    </div>
    </li>
    <li>
      <form method="post" action="/editor/create_model/">
        <table>
	  <tr><td><p> Create a new series. </p></td></tr>
	  <tr><td>Title: </td><td><input id="title" name="title"> <a class="titlecase" onclick="capitalize_title();"> titlecase it</a></td></tr>
	  <input type="hidden" value="series" name="model">
    	  <tr><td></td><td><button type="submit" class="button positive"> Create </a></td></tr>
        </table>
      </form>
    </li>
  </ul>
</div>
{% endblock %}