{% extends "lifeflow/lifeflow_base.html" %}
{% block body %}
<h1> Article Series </h1>
<div class="all-article-series">
{% for object in object_list %}
<div class="article-series">
  <span><strong>{{ object }}</strong> <a href="/feeds/series/{{ object.slug }}/"> subscribe </a></span>
  <ol class="article-series">
    {% for entry in object.in_order %}
    <li class="article-series-entry">
    <a href="{{ entry.get_absolute_url }}">{{ entry }}</a>
    ({{ entry.pub_date|date:"F j, Y" }})
    </li>
    {% endfor %}
  </ol>
</div>
{% endfor %}
</div>
{% endblock %}