{% extends "lifeflow/lifeflow_base.html" %}

{% block body %}


<div class="pagination pagination-top">
{% if previous %}
<span class="left"><a href="{{ object.get_absolute_url }}?start={{ previous }}">Newer</a></span>
{% endif %}

{% if next %}
<span class="right"><a href="{{ object.get_absolute_url }}?start={{ next }}">Older</a></span>
{% endif %}
</div>
  
{% with articles as article_list %}
{% include "lifeflow/show_articles_list.html" %}
{% endwith %}



<div class="pagination pagination-bottom">
{% if previous %}
<span class="left"><a href="{{ object.get_absolute_url }}?start={{ previous }}">Newer</a></span>
{% endif %}

{% if next %}
<span class="right"><a href="{{ object.get_absolute_url }}?start={{ next }}">Older</a></span>
{% endif %}
</div>
 

{% endblock %}

