{% extends "lifeflow/lifeflow_base.html" %}
{% block title %} RSS {% endblock %}
{% block body %}
<h3> RSS Feeds </h3>



<p> The <strong>most general feed</strong> contains <a href="/feeds/all/">all entries</a>. There is also a <a href="/feeds/comment/">comment feed</a>. For those with a more specialized palette, there are feeds for these categories of entries: {% for flow in flows %} <a href="/feeds/flow/{{ flow.slug }}/">{{ flow.title }}</a> {% endfor %}. Beyond that, there is a feed for <a href="/feeds/projects/">new projects</a>, as well as a feed for <a href="/feeds/translations/">translations</a>.</p>



<p> <strong> Looking for another feed? </strong> There are also feeds for <a href="/language/">languages</a>, <a href="/tags/">tags</a>, <a href="/articles/">series</a>, and <a href="/author/">authors</a>.

{% endblock %}